body {
  font-family: 'IBM Plex Serif', serif;
font-family: 'Source Sans Pro', sans-serif;
background-color:#f7f6f2;
}
/* Color Theme Swatches in Hex */
.Gestura:-Typeface-1-hex { color: #5B91A6; }
.Gestura:-Typeface-2-hex { color: #729CA6; }
.Gestura:-Typeface-3-hex { color: #A69B7C; }
.Gestura:-Typeface-4-hex { color: #D9D1B8; }
.Gestura:-Typeface-5-hex { color: #59462E; }

/* Color Theme Swatches in RGBA */
.Gestura:-Typeface-1-rgba { color: rgba(91, 144, 165, 1); }
.Gestura:-Typeface-2-rgba { color: rgba(114, 156, 165, 1); }
.Gestura:-Typeface-3-rgba { color: rgba(165, 155, 124, 1); }
.Gestura:-Typeface-4-rgba { color: rgba(216, 208, 184, 1); }
.Gestura:-Typeface-5-rgba { color: rgba(89, 69, 46, 1); }

a {
  text-decoration: none;
  color: inherit;
}
.stickyNav {
  background-color: #f7f6f2;
  color: #444;
  font-family:'IBM Plex Serif', serif;
  position: sticky;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 5px 0 5px;
  
}
.topLeft {
  flex:3;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 20px;
}
.topMid {
  flex:5;
  justify-content: center;
  align-items: center;
}
.topRight {
  flex: 3;
  align-items: center;
  justify-content: center;
}
ul.top-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topRight ul.top-nav {
  justify-content: right;
}

.top-nav-list {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .9em;
  font-weight: 200;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

.search {
  cursor: pointer;
  margin-left: 15px;
}

.topRight img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
  float: right;
  margin: 0 30px 0 0;
}
.topLeft i {
  padding: 5px;
}

.header {
  margin-top: 60px;
}
.header-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'IBM Plex Serif', serif;
  color: #444;
}
.header-title-small {
  position: absolute;
  top: 18%;
  font-size: 20px;
}
.header-title-large {
  position: absolute;
  top: 20%;
  font-size: 100px;
  font-style: italic;
}
.header-img {
  width:100%;
  height: 450px;
  object-fit: cover;
}
.home {
  display: flex;

}
.posts {
  flex: 9;
}
.sidebar {
  flex: 3;
  margin: 20px 0 20px 20px ;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  order: 3;
}
.sidebar-title {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px 0 5px 0;
  border-top: 1px solid #5B91A6 ;
  border-bottom: 1px solid #5B91A6;
  font-size: 12px;
  color: #222;
  text-align: center;
  font-weight: 400;
  width: 80%;
}
.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-item img {
  margin-top: 10px;
  width: 200px;
  text-align: center;
  
}
.sidebar p {
  padding: 30px ;
  text-align: center;
}
.sidebar-list {
  list-style:none;
  margin-bottom: 30px;
}
.sidebar-list-item {
  display: inline-block;
  width: 50%;
  margin-top:15px;
  cursor: pointer;
  font-weight: 400;
}
.sidebar-social {
  width: 250px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-icon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.sidebar-icon:nth-child(1) {
  margin-left: 0;
}

.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  order: 1;
}
.post {
  width: 385px;
  margin: 0 25px 40px 0;
  display: flex;
  flex-direction: column;
}
.post img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-cats {
  display: flex;
  flex-direction: row;
}
.post-cat {
  font-family: 'Courier New', Courier, monospace;
  font-size: 11px;
  color: #5B91A6;
  line-height: 20px;
  margin: 5px 10px 0 0;
  cursor: pointer;
}
.post-title {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  text-align: center;
}
h6.post-date {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin: 5px 0 5px 0;
}
.post-desc {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.paginate-container {
  display: block;
  width: 100%;
  float: left;
}
.pagination {
  display: flex;
  height: 50px;
  margin: 20px;
  margin-left: 10px;
  flex-direction: row;
  align-items: center;
  
}
.pagination ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.pagination ul li {
  padding: 5px;
  border: 1px solid #5B91A6;
  margin: 2px;
}
.pagination ul li a {
  color: #5B91A6;
}

.single-post {
  flex: 9;
}
.single {
  display: flex;
}
.single-post-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.single-post-wrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}
.single-post-title {
  font-family: 'IBM Plex Serif', serif;
  text-align: center;
  margin: 10px;
  font-size: 30px;
}
.single-post-title-input {
  font-family: 'IBM Plex Serif', serif;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  border: none;
  border-bottom: 1px solid lightgray;
}
.single-post-title-input:focus {
  outline: none;
}
.single-post-edit {
  float: right;
  font-size: 16px;
}
.single-post-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #999;
}
.single-post-icon:hover {color:#444}
.single-post-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #666;
}
.single-post-info a, .sidebar-list a {
  color: #5B91A6;
  font-weight: 600;
}
.single-post-desc {
  font-family: 'IBM Plex Serif', serif;
  color: #444;
  font-size: 18px;
  line-height: 28px;
}
.single-post-desc::first-letter {
  font-size: 30px;
  font-weight: 700;
}
.single-post-desc-input {
  font-family: 'IBM Plex Serif', serif;
  color: #666;
  font-size: 18px;
  line-height: 28px;
  border: none;
}
.single-post-desc-input:focus {
  outline: none;
}
.single-post-button {
  border: none;
  background-color: #5B91A6;
  padding: 5px;
  width: 100px;
  color: #f7f6f2;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-end;
  margin-top: 20px;
}

.write {margin-top: 50px;}
.write-img {
  margin-left: 125px;
}
.write-img img {
  margin-left:20px;
  width: 70vw;
  height: 400px;
  object-fit: scale-down;
}

.write-form {
  position: relative;
}
.write-form-group {
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.write-form-group:nth-child(1) {
  margin-left: 0;
}
.write-form input, .write-form textarea {
  background-color: white;
}
.write-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.write span {
  font-size: 10px;
  width: 50px;
  display: block;
  text-align: center;
  margin: 5px 0 0;
  color: #999;
}
.write .title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.write .title-wrapper label {
  display: flex;
  margin-left: -49px;
}
.write-input {
  font-size: 30px;
  border: none;
  padding: 20px 20px 20px 10px;
  width: 70vw;
  color: #666;
}
.category-input {
  font-size: 20px;
  border: none;
  padding: 20px 20px 20px 10px;
  width: 70vw;
  margin: 10px 0 10px 27px;
  color: #666;
}
.write-input:focus, .category-input:focus  {
  outline: none;
}
.write-text {
  font-size: 20px;
  height: 100vh;
  color: #666;
}
.write-submit {
  position: absolute;
  top: 0;
  right: 50px;
  color: white;
  background-color: #729CA6;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  border: none

}
.settings {
  display: flex;
}
.settings-wrapper {
  flex: 9;
  margin: 20px;
}
.settings-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings .upload span {
  font-size: 10px;
  width: 50px;
  display: block;
  text-align: center;
  margin: 5px 0 0;
}
.settings-update-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settings-delete-title {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settings-form {
  display: flex;
  flex-direction: column;
}
.settings-pp {
  display: flex;
  align-items: center;
  margin: 10px 0;

}
.settings-pp img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settings-pp-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settings-form > label {
  font-size: 20px;
  margin-top: 20px;
}
.settings-form > input {
  color: gray;
  margin: 10px 0;
  padding: 3px 0 3px 10px;
  height: 30px;
  border: none;
}
.btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.settings-submit {
  width: 150px;
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #5B91A6;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.settings .cancel {
  width: auto;
  align-self: flex-start;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #ceccc8;
  padding: 10px;
  margin: 20px 20px 0 0;
  cursor: pointer;
}
.settings p.success {
  color: green;
  text-align: center;
  margin-top: 20px;
}

.login, .register {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/2157168/pexels-photo-2157168.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  background: linear-gradint(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    );
}

.login-title, .register-title {
  font-size: 50px;
  color: #222;
  font-family: 'IBM Plex Serif', serif;
}
.login-form, .register-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 238px;

}
.login-form > label, .register-form > label {
  margin: 10px 0;
}
.login-form > input, .register-form > input {
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #999;
}
.login-form > input::placeholder {color: #999;}
.login-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.login-button:disabled {
  cursor: not-allowed;
  border-color: rgb(240, 174, 174) ;
}
.login-register {
  position: absolute;
  top: 60px;
  right: 20px;
  cursor: pointer;
  background-color: #5B91A6;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 11px;
}
.register {
  background: url("https://images.pexels.com/photos/842339/pexels-photo-842339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size:inherit;
}
.register-title {color: #f7f6f2;}
.register .register-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: #5B91A6;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.register-login {
  position: absolute;
  top: 60px;
  right: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 11px;
}

.error {
  color: maroon;
  background-color: #f7f6f2;
}
.invalid, .valid {
  color: #f7f6f2;
  font-size: 14px;
}
.settings .invalid, .settings .valid {
  color: #444;
}
.invalid span, .valid span {
  opacity: .5;
}
.eAyRRL > span {
  opacity: 1;
}
.invalid svg path {
  fill: rgb(172, 22, 52);
  opacity: .8;
}
input:disabled {
  cursor: default;
  background-color: rgba(239, 239, 239, 0.5);
}
input:focus, button:focus {
outline-color: #86c4dd;
}

