body {
  font-family: 'IBM Plex Serif', serif;
font-family: 'Source Sans Pro', sans-serif;
background-color:#f7f6f2;
}
/* Color Theme Swatches in Hex */
.Gestura:-Typeface-1-hex { color: #5B91A6; }
.Gestura:-Typeface-2-hex { color: #729CA6; }
.Gestura:-Typeface-3-hex { color: #A69B7C; }
.Gestura:-Typeface-4-hex { color: #D9D1B8; }
.Gestura:-Typeface-5-hex { color: #59462E; }

/* Color Theme Swatches in RGBA */
.Gestura:-Typeface-1-rgba { color: rgba(91, 144, 165, 1); }
.Gestura:-Typeface-2-rgba { color: rgba(114, 156, 165, 1); }
.Gestura:-Typeface-3-rgba { color: rgba(165, 155, 124, 1); }
.Gestura:-Typeface-4-rgba { color: rgba(216, 208, 184, 1); }
.Gestura:-Typeface-5-rgba { color: rgba(89, 69, 46, 1); }

a {
  text-decoration: none;
  color: inherit;
}
input {
  color: gray;
  margin: 10px 0;
  padding: 3px 0 3px 10px;
  height: 30px;
  border: none;
}
.btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: maroon;
  background-color: #f7f6f2;
}
.invalid, .valid {
  color: #f7f6f2;
  font-size: 14px;
}
.settings .invalid, .settings .valid {
  color: #444;
}
.invalid span, .valid span {
  opacity: .5;
}
.eAyRRL > span {
  opacity: 1;
}
.invalid svg path {
  fill: rgb(172, 22, 52);
  opacity: .8;
}
input:disabled {
  cursor: default;
  background-color: rgba(239, 239, 239, 0.5);
}
input:focus, button:focus {
outline-color: #86c4dd;
}

