.home {
  display: flex;
}
.paginate-container {
  display: block;
  width: 100%;
  float: left;
}
.pagination {
  display: flex;
  height: 50px;
  margin: 20px;
  margin-left: 10px;
  flex-direction: row;
  align-items: center;
  
}
.pagination ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.pagination ul li {
  padding: 5px;
  border: 1px solid #5B91A6;
  margin: 2px;
}
.pagination ul li a {
  color: #5B91A6;
}